:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --highlight-color: #ffcc00;
    --h1-background-color: #ffffff; 
    --h1-text-color: #2E2F42;
    --h2-background-color: #2E2F42;
    --h3-background-color: #ffffff; 
    --h2-text-color: #ffffff; 
    --h3-text-color: #2e2f42;  
    --h4-background-color: #ffffff;
    --h4-text-color: #2e2f42
    --footer-background-color: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif; 
    color: var(--text-color); 
    background-color: var(--background-color); 
    margin: 0; 
    padding: 0; 
}

/* Stilurile pentru fonturile Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Stilizarea logo-ului */
.logoheader {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, #4D5AE5 0%, #4D5AE5 40%, #2E2F42 40%, #2E2F42 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.logofooter {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* elimină sublinierea implicită a link-ului */
    background: linear-gradient(to right, #4D5AE5 0%, #4D5AE5 40%, #F4F4FD 40%, #F4F4FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #2E2F42;
    display: inline-block;
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif; /* C9 */
}

h1 {
    font-size: 56px;
    background-color: var(--h1-background-color); 
    line-height: 60px; 
    font-weight: 700; 
    letter-spacing: 2%; 
}

h2 {
    font-size: 36px; 
    background-color: var(--h2-background-color); 
    color: var(--h2-text-color);
    line-height: 40px; 
    font-weight: 700; 
    letter-spacing: 2%; 
    text-align: center; 
}

h3 {
    font-size: 36px; 
    background-color: var(--h3-background-color);
    line-height: 40px; 
    font-weight: 700; 
    text-align: center
}

h4 {
    font-size: 20px;
    background-color: var(--h4-background-color);
    line-height: 24px;
    font-weight: 500;
}


a {
    color: var(--text-color); /* C13 - Culorile textului */
    text-decoration: none; /* Elimină sublinierea implicită a link-urilor */
    transition: color 0.3s ease; /* Efect de tranziție pentru schimbarea culorii textului */
}

a:hover,
a:focus {
    color: var(--highlight-color);
}


header a,
footer a {
    transition: color 0.3s ease;
}

footer h2 {
    text-align: left;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    color: var(--highlight-color);
}

button {
    cursor: pointer;
}
/* Custom Index and Portofolio Header */

body {
    margin: 0;
    padding: 0;
    height: 2592px;
    /* Stabilim înălțimea totală a paginii */
    display: flex;
    flex-direction: column;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    border: 1px solid #ccc;
    padding: 0 20px;
}

.logoheader {
    margin: 0;
}

.main-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-options li {
    display: inline-block;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: inline-block;
    margin-left: 20px;
}

.hero {
    height: 600px;
    background-color: #2E2F42;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    top: 250px;
}

.order-service {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: calc(50% - 160px);
    left: 50%;
    transform: translateX(-50%);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-aligt: center;
    white-space: nowrap;
    color: #FFFFFF;
}

.container {
    width: 1128px;
    height: 104px;
    position: absolute;
    top: 730px;
    left: 156px;
}

.customlist {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.customitem {
    flex-basis: calc(25% - 24px);
    padding: 0px;
    box-sizing: border-box;
}

.customitem h4 {
    margin-top: 0;
}

.customitem p {
    margin-bottom: 0;
}

.images-content {
    width: 100%;
    position: absolute;
    top: 1050px;
    left: 0;
    padding: 0;
    margin: 0 auto;
}

.images-content h3 {
    margin-bottom: 72px;
    text-align: center;
}

.image-container {
    max-width: 100%;
    padding: 0;
    margin-top: 72px;
    margin: 0 auto;
    text-align: center;
}

.image-container .what-we-are-doing {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image-container .what-we-are-doing li {
    display: inline-block;
    margin-right: 24px;
}

.image-container .what-we-are-doing li:last-child {
    margin-right: 0;
}

.image-container .what-we-are-doing li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.team-content {
    width: 100%;
    position: absolute;
    top: 1648px;
    left: 0;
    padding: 0;
    margin: 0 auto;
}

.team-content {
    background-color: #F4F4FD;
    height: 723px;
}

.team-content h3 {
    margin-bottom: 72px;
    background-color: #F4F4FD;
    text-align: center;
}

.team-content .our-team {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.team-content .our-team li {
    display: inline-block;
    margin-right: 24px;
    background-color: #F4F4FD;
}

.team-content .our-team li:last-child {
    margin-right: 0;
}

.team-content .our-team li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    position: absolute;
    width: 1440px;
    height: 312px;
    top: 2280px;
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
}

.footer-container {
    width: 264px;
    height: 112px;
    position: absolute;
    bottom: 150px;
    left: 156px;
    text-align: left;
}

/* PORTOFOLIO */

.layout.portofolio {
    position: absolute;
    height: 2076px;
    top: 1169px;
}

.buttons-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.buttons-content ul li {
    margin-right: 10px;
}

.buttons-content ul li:last-child {
    margin-right: 0;
}

button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4D5AE5;
    background-color: #E7E9FC;
    height: 48px;
    padding: 12px; 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 24px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.image-list {
    margin-top: 72px;
}

.image-list img {
    margin: 24px;
}

.image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 48px;
}

.Servicies-content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.Servicies-content ul li {
    text-align: center;
}

.Servicies-content ul li img {
    max-width: 100%;
    height: auto;
}

.footer-container-portofolio {
    width: 264px;
    height: 112px;
    position: absolute;
    bottom: 150px;
    left: 156px;
    text-align: left;
}