/* C6 - Variabile CSS pentru paleta de culori */
:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --highlight-color: #ffcc00;
    --h1-background-color: #ffffff; /* Culorile de fundal pentru h1 */
    --h1-text-color: #2E2F42; /* Culoarea text pentru h1 */
    --h2-background-color: #2E2F42; /* Culorile de fundal pentru h2 */
    --h3-background-color: #ffffff; /* Culorile de fundal pentru h3 */
    --h2-text-color: #ffffff; /* Culoarea text pentru h2 */
    --h3-text-color: #2e2f42; /* Culoarea text pentru h3 */
}

/* C1 - Stiluri pentru elementul body */
body {
    font-family: "Roboto", sans-serif; /* C7 */
    color: var(--text-color); /* C10 */
    background-color: var(--background-color); /* C10 */
    margin: 0; /* Elimină marginile implicite ale body-ului */
    padding: 0; /* Elimină padding-ul implicite ale body-ului */
}

/* Stilurile pentru fonturile Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* C8 - Variantele de fonturi alternative și tipul familiei (sans-serif) la sfârșitul font-family */
body {
    font-family: 'Roboto', sans-serif; /* C9 */
}

/* C11 - Dimensiunea fontului */
h1 {
    font-size: 56px;
    /* Valoarea din layout */
    background-color: var(--h1-background-color); /* Culorile de fundal pentru h1 */
    line-height: 60px; /* Valoarea din layout */
    font-weight: 700; /* Valoarea din layout */
    letter-spacing: 2%; /* Stilizarea cerută pentru spațierea literelor */
}

h2 {
    font-size: 36px; /* Valoarea din layout */
    background-color: var(--h2-background-color); /* Culorile de fundal pentru h2 */
    color: var(--h2-text-color);
    line-height: 40px; /* Valoarea din layout */
    font-weight: 700; /* Valoarea din layout */
    letter-spacing: 2%; /* Stilizarea cerută pentru spațierea literelor */
    text-align: center; /* C11 - Alinearea textului la centru */
}

h3 {
    font-size: 20px; /* Valoarea din layout */
    background-color: var(--h3-background-color); /* Culorile de fundal pentru h3 */
    line-height: 24px; /* Valoarea din layout */
    font-weight: 500; /* Valoarea din layout */
    text-align: center
}

/* Stilurile pentru link-uri */
a {
    color: var(--text-color); /* C13 - Culorile textului */
    text-decoration: none; /* Elimină sublinierea implicită a link-urilor */
    transition: color 0.3s ease; /* Efect de tranziție pentru schimbarea culorii textului */
}

a:hover,
a:focus {
    color: var(--highlight-color);
    /* C4 - Schimbarea culorii textului la interacțiune (hover și focus) */
}

/* C5 - Textul contactelor din antet și subsol își schimbă culoarea la interacțiune */
header a,
footer a {
    transition: color 0.3s ease;
}

footer h2 {
    text-align: left;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    color: var(--highlight-color);
    /* C5 - Schimbarea culorii textului la interacțiune (hover și focus) */
}
/* C16 - Stilul cursorului pentru butoane */
button {
    cursor: pointer;
}