:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --highlight-color: #404BBF;
    --h1-background-color: #ffffff; 
    --h1-text-color: #2E2F42;
    --h3-background-color: #ffffff; 
    --h2-text-color: #ffffff; 
    --h3-text-color: #2e2f42;  
    --h4-background-color: #ffffff;
    --h4-text-color: #2e2f42
    --footer-background-color: #2e2f42;
    --icons-list.icon-background-color: #4D5AE5;
}

body {
    font-family: "Roboto", sans-serif; 
    color: var(--text-color); 
    background-color: var(--background-color); 
    margin: 0; 
    padding: 0; 
}

/* Stilurile pentru fonturile Roboto */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Stilizarea logo-ului */
.logoheader {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, #4D5AE5 0%, #4D5AE5 39%, #2E2F42 39%, #2E2F42 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.logofooter {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: linear-gradient(to right, #4D5AE5 0%, #4D5AE5 39%, #F4F4FD 39%, #F4F4FD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #2E2F42;
    display: inline-block;
    padding: 10px;
}


body {
    font-family: 'Roboto', sans-serif; 
}

h1 {
    font-size: 56px;
    background-color: var(--h1-background-color); 
    line-height: 60px; 
    font-weight: 700; 
    letter-spacing: 2%; 
}

h2 {
    font-size: 36px; 
    color: var(--h2-text-color);
    line-height: 40px; 
    font-weight: 700; 
    letter-spacing: 2%; 
    text-align: center; 
}

h3 {
    font-size: 36px; 
    background-color: var(--h3-background-color);
    line-height: 40px; 
    font-weight: 700; 
    text-align: center
}

h4 {
    font-size: 20px;
    background-color: var(--h4-background-color);
    line-height: 24px;
    font-weight: 500;
}


a {
    color: var(--text-color); 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover,
a:focus {
    color: var(--highlight-color);
}


header a,
footer a {
    transition: color 0.3s ease;
}

footer h2 {
    text-align: left;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
    color: var(--highlight-color);
}

button {
    cursor: pointer;
}
/* Custom Index and Portofolio Header */

body {
    margin: 0;
    padding: 0;
    height: 2592px;
    display: flex;
    flex-direction: column;
}


.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    border: 1px solid #ccc;
    padding: 0 20px;
}

.logoheader {
    margin: 0;
}

.main-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-options li {
    display: inline-block;
    margin-right: 20px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: inline-block;
    margin-left: 20px;
}

.hero {
    height: 600px;
    width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/peopleoffice.jpg');
    background-size: cover;
}   

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-align: center;
    top: 250px;
}

.order-service {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    position: absolute;
    bottom: calc(50% - 160px);
    left: 50%;
    transform: translateX(-50%);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-aligt: center;
    white-space: nowrap;
    color: #FFFFFF;
}

.is-hidden {
    visibility: hidden;
}

.modal {
    position: fixed;
    top: 8px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2F4266;
    z-index: 5;
    overflow: auto;
}

.modal-content {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 8px;
    padding: 24px;
    background-color: #fff;
    width: 408px;
    height: 584px;
    position: relative;
    border-radius: 4px;
}

.modal-content .Leave-your-contacts p {
    width: 360px;
    height: 24px;
    top: 152px;
    left: 540px;
    gap: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.form input[type="text"],
.form input[type="tel"],
.form input[type="email"] {
    width: 360px;
    height: 40px;
    justify-content: center;
    padding: 12px;
    padding-left: 30px;
    margin-right: 20px;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F4266;
    border: 1px solid #2E2F4266;
    border-radius: 4px 4px 4px 4px;
}

.feedback-textarea {
    width: 360px;
    height: 120px;
    justify-content: center;
    padding: 12px;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #2E2F4266;
    resize: none;
    border-radius: 4px 4px 4px 4px;
}


.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus {
    color: #4D5AE5;
    border-color: #4D5AE5;
}


.feedback-textarea:focus {
    border-color: #4D5AE5;
    color: #4D5AE5;
}


.form {
    width: 360px;
    height: 336px;
    top: 192px;
    left: 540px;
    gap: 8px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    justify-content: center;
}

.form-person svg { 
    position: relative;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
    color:#2E2F42;
}


.form-phone svg {
    position: relative;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #2E2F42;
}

.form-email svg {
    position: relative;
    top: 15px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #2E2F42;
}

.agree {
    appearance: none;
}

.check {
    display: flex;
    position: relative;
    left: -5px;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid #333333;
    border-radius: 4px;
}

.check svg {
    width: 20px;
    height: 20px;
    border: 1px solid #333333;
    display: none;
}

.check:active,
.check:focus {
    background-color: #4D5AE5;
    display: flex;
}



.agreement-privacy {
    width: 360px;
    height: 16px;
    top: 544px;
    left: 540px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}




.privacy-policy-link {
    text-decoration: underline;
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.04em;
    text-align: left;
}
 
.modal-content .send-button {
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-top: 30px;
    margin-left: 102px;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    justify-content: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.close-btn {
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    outline: none;
    position: absolute;
    top: 10px;
    right: -10px;
    border-color: #0000001A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 0px;
}

label span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: 34px;
    height: 14px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
}

.agreement-privacy {
    display: flex;  
}

.icon-container {
    width: 1128px;
    height: 112px;
    margin-top: 120px;
    display: flex;
    gap: 24px;
    margin-left: 25px;
}

.icon-item {
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4FD;
    border-radius: 4px;
}

.icon-strategy svg {
    width: 64px;
    height: 64px;
    top: 24px;
    left: 100px;
    padding: 0px 2.14px;
    gap: 0px;
}

.container {
    height: 104px;
    width: 1128px;
    position: absolute;
    top: 812px;
    margin-left: 25px;
    justify-content: center;
}

.customlist {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.customitem {
    flex-basis: calc(25% - 24px);
    padding: 0px;
    box-sizing: border-box;
}

.customitem h4 {
    margin-top: 0;
}

.customitem p {
    margin-bottom: 0;
}

.images-content {
    width: 100%;
    position: absolute;
    top: 1050px;
    left: 0;
    padding: 0;
    margin: 0 auto;
}

.images-content h3 {
    margin-bottom: 80px;
    margin-top: 120px;
    text-align: center;
}

.image-container {
    max-width: 100%;
    padding: 0px;
    margin-top: 72px;
    margin: 0px;
    text-align: center;
}

.image-container .what-we-are-doing {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image-container .what-we-are-doing li {
    display: inline-block;
    margin-right: 24px;
}

.image-container .what-we-are-doing li:last-child {
    margin-right: 0;
}

.image-container .what-we-are-doing li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.team-content {
    width: 100%;
    position: absolute;
    top: 1648px;
    left: 0;
    padding: 0;
    margin: 0 auto;
}

.team-content {
    background-color: #F4F4FD;
    height: 723px;
    margin-top: 120px;
}

.team-content h3 {
    margin-top: 120px;
    margin-bottom: 45px;
    background-color: #F4F4FD;
    text-align: center;
}

.team-content .our-team {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.team-content .our-team li {
    display: inline-block;
    margin-right: 24px;
    background-color: #F4F4FD;
    width: 264px;
    height: 380px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.team-content .our-team li:last-child {
    margin-right: 0;
}

.team-content .our-team li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.name-partner {
    width: 150px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    text-color: #2E2F42;
    margin-bottom: 0%;
}

.profession-partner {
    width: 150px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    text-color:#434455;
}

.team-content .our-team li .partner-info {
    width: 264px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 0px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* icons team */
.icon-list {
    display: flex;
    gap: 24px;
    margin-top: 2px;
}

.icon-list .icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
}

.icon-list .icon svg {
    width: 16px;
    height: 16px;
}

.Customers {
    margin-top: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.icon-container-customers {
    display: flex;
    width: 1128px;
    height: 88px;
    gap: 24px;
    margin-left: 45px;
    justify-content: center;
    margin-top: 25px;
}


.icon-brand {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.icon-brand svg {
    width: 104px;
    height: 56px;
}

footer {
    position: absolute;
    width: 1440px;
    height: 312px;
    top: 3000px;
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: left;
}

.footer-container {
    width: 264px;
    height: 112px;
    position: absolute;
    bottom: 150px;
    left: 156px;
}

.social-media {
    display: flex;
    gap: 0px;
    position: absolute;
    left: 540px;
    top: 84px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;   
}

.icon-list-footer {
    display: flex;
    gap: 24px;
    position: absolute;
    bottom: 132px;
    left: 540px;
}

.icon-list-footer .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
}

.icon-list-footer .icon svg {
    width: 16px;
    height: 16px;
}

.form-footer {
    display: flex;
    margin-left: 870px;
    margin-top: 110px;
}


.form-footer input[type="email"] {
    width: 264px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 828px;
    gap: 0px;
    padding-left: 20px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #FFFFFF;
    background: none;
}

.form-footer button.subscribe {
    width: 165px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 1116px;
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}


.form-footer button.subscribe span {
    width: 77px;
    height: 24px;
    gap: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}


.form-footer .form-send {
    display: inline-block;
    margin-left: 5px;
}


.form-footer svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.form-footer {
    display: flex;
    margin-left: 870px;
    margin-top: 110px;
}

.span-footer {
    width: 75px;
    height: 24px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    position: relative;
    left: -40px;
    top: -10px
}

.form-footer input[type="email"] {
    width: 264px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 828px;
    gap: 0px;
    padding-left: 20px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #FFFFFF;
    background: none;
}

.form-footer button.subscribe {
    width: 165px;
    height: 40px;
    position: absolute;
    top: 140px;
    left: 1116px;
    padding: 8px 24px;
    gap: 16px;
    border-radius: 4px 4px 4px 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #4D5AE5;
}

.form-footer button.subscribe span {
    width: 77px;
    height: 24px;
    gap: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
}


.form-footer svg {
    width: 100%;
    height: 100%;
    position: relative;
    top: -25px;
    left: 45px;
}



/* PORTOFOLIO */

.layout.portofolio {
    position: absolute;
    height: 2076px;
    top: 1169px;
}

.buttons-content ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.buttons-content ul li {
    margin-right: 10px;
}

.buttons-content ul li:last-child {
    margin-right: 0;
}

button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #4D5AE5;
    background-color: #E7E9FC;
    height: 48px;
    padding: 12px; 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-right: 24px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3)
}

.image-list {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.Servicies-content ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.Servicies-content ul li {
    text-align: left;
    display: grid;
    grid-template-rows: auto 1fr;
}

.Servicies-content ul li img {
    width: auto;
    height: auto;
}

.project-info {
    margin-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    gap: 20px;
    padding: 32px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.project-info:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.project-category {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.field-of-activity {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 24px;
}

.box {
    position: relative;
    width: 360px;
    height: 300px;
    margin: 0 auto;
    background-color: #bdbdbd;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    opacity: 70%;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
}

.box:hover .overlay {
    transform: translatey(0);
}

.overlay p {
    color: #fff;
    padding: 0px;
    margin: 0;
    font-size: 18px;
}

.overlay code {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: #fff;
    color: #2a2a2a;
}

.Servicies-content ul li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
}

.Servicies-content ul li:hover .project-info {
    box-shadow: none;
}

.buttons-content ul,
.Servicies-content ul {
    cursor: pointer;
}



.footer-container-portofolio {
    width: 264px;
    height: 112px;
    position: relative;
    bottom: 120px;
    left: 156px;
    text-align: left;
}

nav ul li a.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #404BBF;
    position: relative;
    top: 22px;
}
